<div class="container-fluid">
  <h4>Welcome to</h4>
  <h1>S<small>hipment</small></h1>
  <h1>P<small>lacement &</small></h1>
  <h1>E<small>ntry</small></h1>
  <h1>E<small>xpediting</small></h1>
  <h1>D<small>ispatch</small></h1>
</div>